.cards {
  display: flex;
}

.player-cards {
  display: flex;
}
.dealer-cards {
  display: flex;
}

.game-over {
  font-size: 40px;
  font-weight: 700;
}

body {
  background-color: green;
}
h1 {
  text-align: center;
  color: whitesmoke;
  font-family: "Akshar", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Titillium Web", sans-serif;
}
h2 {
  text-align: center;
  color: whitesmoke;
  font-family: "Akshar", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Titillium Web", sans-serif;
}

.button-container {
  display: flex;
  justify-content: center;
  z-index: 4;
}
button {
  border: none;
  background: none;
  font-size: 30px;
  font-family: "Akshar", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Titillium Web", sans-serif;
  color: whitesmoke;
  transition: 0.3s ease-in-out all;
  margin: 30px;
}

button:hover {
  color: grey;
  cursor: pointer;
}
.card {
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.welcome {
  width: 50vw;
  background-color: whitesmoke;
  height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.welcome h2 {
  color: black;
}

.close {
  display: flex;
  justify-content: right;

  width: 100%;
}
h3 {
  margin-right: 10px;
  color: rgb(200, 25, 25);
  font-size: 40px;
  margin-top: 0;
}

.container {
  width: 100vw;
  height: 100vw;
  position: absolute;
  display: flex;

  justify-content: center;
}

p {
  font-size: 18px;
  font-family: "Akshar", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Titillium Web", sans-serif;
  text-align: center;
  margin-bottom: 30px;
}
